.hidden{
    display: none;
}
.clickable{
    cursor: pointer;
}
.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
    .git{
        :hover{
            color: #000;
        }
    }
}