api:
  dashboard: true

log:
  level: INFO

entryPoints:
  web: 
    address: ":80"
  websecure:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  docker: {}
  file:
    directory: /etc/traefik/dynamic
    watch: true

